* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
}
header {
    height: 50px;
    border-bottom: 2px solid black;
    margin-bottom: 80px;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}